@{
    ViewBag.Title = "About";
}
<p>At Bleyd, we face the facts.</p>

<p>The user-facing component of our app allows diners to select a meal that’s right for

them. Gone are the days of bothersome conversations with skeptical wait staff.

Bleyd discretely customizes a meal that fulfills your individual specifications.</p>

<p>How do we do that?</p>

<p>The enterprise-facing component of our app allows restaurateurs to intuitively,

completely, and granularly manage their menu. Built-in equivalency algorithms

offer a frictionless solution to allergens identification. Bleyd turns liability into

capability.</p>

<p>Who’s behind it all?</p>

<p>Bleyd’s co-founders combine over 20 years of higher education acquired in three

continents. Our team has worked with the most prestigious, innovative, and

revolutionary companies in the world. Our competencies span technology,

healthcare, and retail.</p>

<p>For more information, please contact investors@bleyd.com.</p>