@{
    ViewBag.Title = "Home Page";
}

<div class="homepage"></div>
    <div class="jumbotron">
        <h1>
            Bleyd
        </h1>
        <p class="lead">
            At Bleyd, we develop cutting-edge food allergy mobile applications for the restaurant industry.
            We provide restaurateurs with intuitive and elegant allergen management tools, in order to empower diners to make healthy, educated decisions.
            Bleyd cuts through menus to deliver a fully customized user experience.
        </p>
        <p>
            <a href="http://asp.net" class="btn btn-primary btn-lg">
                Request Invitation &raquo;
            </a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>
                BUILD IT
            </h2>
            <p>
                Build it and they will come.
                Bleyd promotes your restaurant as an allergy-friendly venue, bringing new revenue straight to your door.
            </p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">
                    Learn more &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>
                MENU SERVICES
            </h2>
            <p>
                Our expert graphics designers will sculpt the perfect customized menu for your restaurant. Just the right balance of visual and description.
            </p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">
                    Learn more &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>
                BAR & LOUNGE
            </h2>
            <p>
                Maximize your bar and lounge area by promoting special cocktails. Keep your customers engaged from the moment they enter your restaurant.
            </p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">
                    Learn more &raquo;
                </a>
            </p>
        </div>
    </div>

